<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Author</title>
</head>
<body>
    <h1>Delete an Author</h1>

    <div th:if="${error}">
        <p style="color: red;">Error: The author could not be deleted. Please try again.</p>
    </div>

    <form th:action="@{/admin/deleteAuthor}" method="post">
        <div>
            <label for="firstName">Author's First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div>
            <label for="lastName">Author's Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>

        <div>
            <button type="submit">Delete Author</button>
        </div>
    </form>

    <a th:href="@{/admin}">Back to Admin Page</a>
</body>
</html>
